@model SendCash.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Home Page";
}

    <script type="text/javascript" src="~/Scripts/ViewScripts/Home.js"></script>
    <div class="jumbotron">
        <h1>Welcome to SendCash</h1>
        <p class="lead">Please enter your credentials.</p>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.AccountName, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountName, new { htmlAttributes = new { @class = "form-control", @id = "accName" } })
                @Html.ValidationMessageFor(model => model.AccountName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountNumber, "Account Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control", @id = "accNum" } })
                @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        

        <p><a id="loginBtn" class="btn btn-primary btn-lg">Login &raquo;</a></p>

    </div>